.navbar {
  background: rgb(9, 9, 9);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: relative;
  transition: 0.3s;
  z-index: 1000;
  overflow: hidden;
  border: 2px solid #ff9900;
}

.navbar-logo img {
  width: 300px;
  object-fit: contain;
}

.navbar.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 9px 10px rgba(246, 107, 107, 0.985);
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: #f9f7f7;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.navbar a:hover {
  color: #ff9900;
}

/* bottom*/
.navbar.mobile {
  position: fixed;
  bottom: 4px;
  top: auto;
  height: 50px;
  left: 10px;
  right: 10px;
  background: rgba(113, 13, 13, 0.986);
  border-radius: 15px 15px 25px 25px;
  box-shadow: 0 4px 20px #ff9900;
  backdrop-filter: blur(8px);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.navbar.mobile ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.navbar.mobile li {
  list-style: none;
}

.navbar.mobile a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 10px;
  border-radius: 50%;
  transition: all 0.3s ease;
  color: white;
}

.navbar.mobile a:hover,
.navbar.mobile a:focus {
  background: rgba(62, 1, 1, 0.571);
  box-shadow: 0 0 10px #fcfbfa;
  transform: scale(1.1);
}


@media (min-width: 768px) and (max-width: 1114px) {
  .navbar {
    height: 80px;
    padding: 0 5%;
  }

  .navbar-logo img {
    width: 230px;
  }

  .navbar ul {
    gap: 20px;
  }

  .navbar a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .navbar {
    display: none; 
  }

  .navbar-logo {
    display: none;
  }

  .navbar a {
    font-size: 0;
  }

  .navbar a > svg {
    font-size: 24px;
  }
}



body.dark-mode .navbar {
  background: #111;
}
